body{
    display: flex;
    flex-direction: column;
}
main{
    display: flex;
    flex-direction: row;
    flex: auto;
}
article{
    display: flex;
    flex: 2;
    overflow-y: auto;
}
aside{
    display: flex;
    flex: 1;
    overflow-y: auto;
}